.container {
  background-color: transparent;
  text-align: center;
}
.container > h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
}

.container > h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .container > h1 {
    font-size: 35px;
  }
  .container > h2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .container > h1 {
    font-size: 25px;
  }
  .container > h2 {
    padding-bottom: 30px;
  }
}
